a {
    color: black;
}
body {
    background-image: url(../images/background.png);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
h1 {
    color: #434146;
    text-align: center;
}
main {
    flex: 1 0 auto;
}

p {
    font-size: 30px;
    text-align: center;
    padding: 5% 0 0 0;
}

/* .border {
    background-color: #a7a4ac;
    opacity: 20%;
    margin: 10px;
} */

.brand-logo {
    margin-left: 20px;
}

.card {
    margin: 15px 5px;
}

.logo {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo2 {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.margin-bottom {
    background-color: #434146;
    height: 10px;
}

.margin-top {
    margin-bottom: 0px;
}

.nav-wrapper {
    background-color: #f8a082;
}

.page-footer {
    background-color: #3c0b29;
    padding-top: 0px;
    text-align: center;
}

.resume {
    display: block;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.title-line {
    width: 80%;
    border: 0;
    height: .25rem;
    background-color: #3c0b29;
}

.top-nav {
    background-color: #3c0b29;
    height: 10px;
    margin: 0;
    padding: 0px;
}


ul {
    list-style-type: disc;
}